body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.answers {
  min-width: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */
  opacity: 1;
}

.answers.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.sidebar {
  background: rgba(252, 255, 255, 0.842);
  border-width: 1.5px;
  border-top: 0;
  border-style: solid;
}

.ms {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
  border-radius: 100%;
  background: #000;
}

.about-me-text {
  font-size: 18pt;
}
